@charset "utf-8";

h1{
    color: #2699FB;
    /* position: fixed;*/
    font-size: 25px;
    position: absolute;
    right: 13px;
    top: 9px;
}

.site-header{
    height: 48px;
    margin: 0;
    padding: 0;
    background-color: #FBE251;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
}
.hamburger {
  display : block;
  z-index : 3;
  position: absolute;
  left : 13px;
  top   : 5px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #2699FB;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 8px;
}
.hamburger span:nth-child(2) {
  top: 18px;
}
.hamburger span:nth-child(3) {
  top: 28px;
  /*width: 15px;*/
}

.headerback{
    height: 48px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #000;

  background: #fff;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}
li{
	display: flex;
	justify-content: center;
}
nav li a span{
	font-size: 10px;
}

nav.globalMenuSp ul {
  background: #FBE251;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li a {
  display: block;
  color: #2699FB;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}
.container {
  overflow: auto;
  scroll-snap-type: y;
  height: 100vh;
}
.area {
  scroll-snap-align: start;
  height: 100vh;
}
/*.area:nth-child(even) {

}*/
.area:nth-child(odd) {
   background  : linear-gradient(to bottom, #47a6f5,#4da9f4, #57b2fd, #5db5ff,#43caf7,#4accf9 ,#6ed7fa,#7addff ,#9ee7ff,#c7eefc,#e2f8ff,#fbfeff);
}
.main_contents{
	text-align: center;
}
.contents{
    color: #3D8CCC;
}
.basics , .basictext{
    color: #3D8CCC;
}
.features{
    background: linear-gradient(to top, #47a6f5,#47a6f5,#4da9f4,#4da9f4, #57b2fd,#57b2fd, #5db5ff,#5db5ff,#43caf7,#43caf7,#4accf9,#4accf9,#6ed7fa,#6ed7fa,#7addff ,#9ee7ff,#c7eefc,#e2f8ff,#fbfeff);
}
.feature1, .feature2, .feature3{
    display: flex;
}
.border {
	/* width: 310px; */
	padding: 10px;
	margin: 20px;
}
.border-solid {
	border: 3px solid #fff;
}
.text,p{
	color: #fff;
}
.text p{
	font-size: 11px;
	margin: 0 0 30px 0;
}
.big{
	font-size: 13px;
	/* border-bottom: solid 2px yellow; */
    background: linear-gradient(transparent 50%, #DBDA7F 50%);
}
.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: #3D8CCC;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}
.hr-text:before {
	content: '';
	background: #3D8CCC;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1.5px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: #3D8CCC;
	background-color: #FFFFFF;
}
.ao{
	text-align: center;
	color: #3D8CCC;
	margin: 15px 0;
	font-size: 11px;
}
.site-footer{
    color: #707070;
    text-align: center;
}

/*アラーム設定のページ*/
.te{
	font-size: 20px;
	color: white;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 ;
}

.button {
  width: 122px;
  height: 36px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #FBE251;
  border:none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.button-margin{
	margin: 100px 0 30rem;
}

/*朝の活読のページ*/
border > h2{
	color: white;
	font-size: 20px;
	text-align: center;
	margin: 10px 0 ;
}
.size12{
	line-height:20px;
	font-size: 12px;
	text-align: center;
}
.size14{
	font-size: 14px;
}
.news-contents{
	text-align: center;
	margin: 20px 0 15rem;
	font-size: 12px;
}
.news-contents a p{
	margin: 15px 0;
}
